{% extends '::base.html.twig' %}

{% block title %}Floor {{ currentFloor }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <h2>Selected Elevator {{ elevator.name }}</h2>

            <h3>Controls Elevator</h3>
            <div class="text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination pager">
                        {% if (to == 'up') %}
                            {% include '@App/Default/_elevator_controls.html.twig' with {begin: currentFloor+1, end: elevator.maxFloor, currentFloor: currentFloor} %}
                        {% else %}
                            {% include '@App/Default/_elevator_controls.html.twig' with {begin: 1, end: currentFloor-1, currentFloor: currentFloor} %}
                        {% endif %}
                    </ul>
                </nav>
            </div>

        </div>
    </div>
{% endblock %}
