{% extends '::base.html.twig' %}

{% block title %}Floor {{ currentFloor }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <h3>Floors</h3>
            <div class="text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination pager">
                        {% for floor in range(1, elevatorManager.totalFloors) %}
                            <li {% if floor == currentFloor %}class="active"{% endif %}>
                                <a href="{{ path('app.floor', {'floor': floor}) }}">{{ floor }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            <h3>Controls</h3>
            <div class="text-center">
                {% if currentFloor == 1 %}
                <nav aria-label="Page navigation">
                    <ul class="pagination pager">
                        {% include '@App/Default/_elevator_controls.html.twig' with {begin: 2, end: elevatorManager.totalFloors, currentFloor: currentFloor} %}
                    </ul>
                </nav>
                {% else %}
                <nav aria-label="Page navigation">
                    <ul class="pager">
                        {% if currentFloor < elevatorManager.totalFloors %}
                        <li><a href="{{ path('app.call_for', {'floor': currentFloor, 'to': 'up'}) }}">Up</a></li>
                        {% endif %}
                        <li><a href="{{ path('app.call_for', {'floor': currentFloor, 'to': 'down'}) }}">Down</a></li>
                    </ul>
                </nav>
                {% endif %}
            </div>

            <h3>Information</h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Max Floor</th>
                    <th>Current Floor</th>
                </tr>
                </thead>
                <tbody>
                {% for elevator in elevatorManager.elevators %}
                    <tr>
                        <th scope="row">{{ elevator.name }}</th>
                        <td>{{ elevator.maxFloor }}</td>
                        <td>{{ elevator.currentFloor }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
